/* CSS RESET CODE - copied from Prof. Bailey in the #streaming-media-assignment channel*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, simg, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  -------------------- End of CSS reset  --------------------  */






/* ----------------------- Mobile First ----------------------- */


/* -------- Body -------- */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #020659;
    margin: 0 auto;
}





/* -------- Header -------- */

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #030A8C;
    width: 375px;
    margin: 0 auto;
}

header p {
    padding: 16px 16px 24px 32px;
    line-height: 1.25em;
}

h1 {
    font-size: 1.25em;
    padding: 16px 16px 0px 32px;
    text-transform: uppercase;
    font-weight: bold;
}

h1, #header_paragraph {
    background-image: linear-gradient(to right, #2104D9, #000000)  
}


/* Navigation */

nav {
    display: grid;
    grid-row-start: 1;
    position: sticky;
}

#nav_position {
    position: relative;
    top: 100px;
    grid-row-start: 2;
}

#nav_title {
    font-variant: small-caps;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    width: 375px;
    height: 58px;
    top: 20px;
    left: 50%;
    margin-left: -187.5px;
}

.nav_links {
    text-transform: uppercase;
}

nav a {
    font-size: 1.2em;
}

li {
    text-align: center;
    line-height: 1.25em;
}

ul a {
    text-decoration: none;
    color: white;
}



/*  Nav Menu 
/*  JS Fiddle example:            
/*  https://jsfiddle.net/1fzgah3n/  */

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0px;
}

/* -------- Main -------- */

main {
    display: grid;
    background-color: #FFFFFF;
    width: 375px;
    margin: 0 auto;
}

h2 {
    color: #590242;
    text-transform: uppercase;
    font-weight: bold;
    margin: 24px 0px 8px 32px
}


h2, h3 {
    font-size: 1em;
}

div h3 {
    color: #590242;
    text-transform: uppercase;
    font-weight: bold;
}

dl {
    width: 100%;
    margin-top: 8px;
}

dt {
    font-style: italic;
}

dt, dd {
    color: #590242;
    float: left;
}

dd {
    margin-left: 8px;
}

p, dl, dd {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Trending */

#trending {
    height: 350px;
}

audio {
    position: relative;
    top: -200px;
    left: 30px;
}


audio::-webkit-media-controls-mute-button {
    
}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-enclosure {
    background: #FFFFFF;
}



/* Your Playlist */

#your_playlists {
    height: 368px;
}

#playlists {
    background-color: #2699FB;
    padding-bottom: 16px;
}

.playlists {
    background-color: #0D8DFB;
    padding: 10px;
}

section.playlists h3 {
    color: #FFFFFF;
    text-align: center;
    margin: 4px 0px 8px 0px;
}

section.playlists p {
    text-align: center;
}

/* Curated Playlist */

#curated {
    background-color: #030A8C;
    padding-bottom: 22px;
}

.curated {
    background-color: #020873;
    padding: 10px;
}

section.curated h3 {
    color: #FFFFFF;
    text-align: center;
    margin: 4px 8px 8px 8px;
}

section.curated p {
    text-align: center;
}
/*
.trending_details {

}

/* Buttons */

.button {
    float: left;
    background-color: #590242;
    padding: 10px 30px;
    border-radius: 4px;
    margin: 10px 0px 15px 20px;
}

/* Scrollbar */

.scroll {
    display: grid;
    width: 375px;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div[class="trending_details"] {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    height: 50px;
    width: 311px;
}


#trending ::-webkit-scrollbar {
   background: #590242;
}
#trending ::-webkit-scrollbar-track {
    background: #590242;

}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020873;
}
/*
#playlists::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}
*/
/* Footer */

footer p {
    font-size: 0.75em;
    background-color: #FFFFFF;
    color: #590242;
    text-align: center;
    margin: 0 auto;
    padding: 32px 0px;
    width: 375px;
}

/* ---------- Medium Screen (834px) ---------- */

@media screen and (min-width:834px) {


    /* Header */

    header {
        width: 834px;
    }

    
    /* Navigation */

    nav {
        height: 75px;
    }

    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        margin-top: 16px;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 834px;
    }

    label span, input {
        display: none;
    }

    #nav_title {
        position: static;
        margin: 0;
    }


    /* Main */

        main {
            width: 834px;
        }

    /* Button */

        .button {
            float: right;
            margin: 10px 20px 15px 0px;
        }
        
    /* Trending */

    #trending {
        width: 834px;
    }


    /* Your Playlists */

    #your_playlists {
        height: auto;
    }

    #playlists {
        width: 417px;
    }

    .scroll[id="playlists"] {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
        height: 482px;
    }

    .playlists {
        display: grid;
    }

    img.playlist_column_img {
      float: left;
    }

    .playlist_details {
        float: right;
        width: 195px;
        margin-right: 8px;
    }
    
    /* Curated Playlists */

    #curated {
        width: 417px;
    }

    .scroll[id="curated"] {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
        height: 476px;
    }

    .curated {
        display: grid;
    }

    .curated_details {
        float: right;
        width: 186px;
        margin-right: 8px;
    }

    
    /* Your Playlists + Curated Playlists */

    #playlist_columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 620px;
    }
    

    /* Footer */

    footer {
        margin: 0 auto;
        width: 834px;
        background-color: #FFFFFF;
    }
    
}